.experience-card-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 32px;
    height: 700px;
}

.experience-card-container .experience-card {
    margin-right: 14px;
    margin-bottom: 24px;
}

.experience-card {
    width: calc(100% / 3 - 28px);
    float: left;
    padding: 15px;
    background-color: var(--background-card);
    border-radius: 16px;
    transition: transform 0.2s ease-in-out, background-image 0.2s ease-in-out;
}

.experience-card.slotex:hover {
    background-image: linear-gradient(to right bottom, #0089af, #007d9f, #007190, #006581, #015a72);
}

.experience-card.nnl:hover {
    background-image: linear-gradient(to right bottom, #174f6d, #35466b, #4a3d60, #583450, #5d2d3d);
}

.experience-card.csmoney:hover {
    background-image: linear-gradient(to left top, #7e4198, #a354a1, #c569aa, #e381b3, #ff9bbe);
}

.experience-card.devly:hover,
.experience-card.ozon:hover {
    background-image: linear-gradient(to left top, #005bff, #3978ff, #5e94ff, #83aeff, #a8c7ff);
}

.experience-card:hover {
    transform: scale(1.05);
}

.experience-card__title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.experience-card__title-icon {
    max-height: 50px;
    border-radius: 8px;
    transform: translateZ(0);
    margin-right: 14px;
}

.experience-card__title-name {
    margin: 0 0 4px;
}

.experience-card__title-experience {
    font-size: 12px;
    opacity: .8;
}

.experience-card p {
    font-size: 16px;
}

@media (min-width: 1920px) {
    .experience-card-container {
        height: 600px;
    }
}

@media (max-width: 1366px) {
    .experience-card-container {
        height: 800px;
    }

    .experience-card {
        width: calc(100% / 2 - 28px);
    }
}

@media (max-width: 1280px) {
    .experience-card-container {
        height: 1000px;
    }
}

@media (max-width: 920px) {
    .experience-card-container {
        height: auto;
    }
    .experience-card {
        width: 100%;
    }
}
