@font-face {
  font-family: 'Museo Sans';
  font-weight: 500;
  src: url('../../../static/fonts/MuseoSansCyrl-500.woff') format('woff');
}

@font-face {
  font-family: 'Museo Sans';
  font-weight: 500;
  font-style: italic;
  src: url('../../../static/fonts/MuseoSansCyrl-500Italic.woff') format('woff');
}

@font-face {
  font-family: 'Museo Sans';
  font-weight: 700;
  src: url('../../../static/fonts/MuseoSansCyrl-700.woff') format('woff');
}

@font-face {
  font-family: 'Museo Sans';
  font-weight: 900;
  src: url('../../../static/fonts/MuseoSansCyrl-900.woff') format('woff');
}
