.hire-me {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background-color: var(--primary);
    width: fit-content;
    word-break: keep-all;
    font-size: 1.2em;
    color: white;
    box-sizing: content-box;
    transition: transform 0.2s ease-in-out, background-image 0.2s ease-in-out;
    box-shadow: 0 0 20px var(--primary);
}

.hire-me:hover {
    background-color: var(--primary-hover);
    transform: scale(1.05);
}

.form-container {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--background-form-container);
}

.form-container.visible {
    display: flex;
}

.form-container.visible .form-hire-me {
    animation: visible 0.4s ease-in-out;
}

@keyframes visible {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-hire-me {
    width: 100%;
    margin: 0 5%;
    max-width: 500px;
    background-color: var(--background);
    border-radius: 16px;
    padding: 32px;
}

.form-hire-me input,
.form-hire-me textarea {
    width: 100%;
    margin-top: 8px;
}

.form-hire-me textarea {
    resize: vertical;
    max-height: 250px;
    min-height: 150px;
}

.form-hire-me button:nth-child(2) {
    background: none;
    color: var(--secondary);
    margin-top: 16px;
    border: 3px solid var(--secondary);
}

.form-hire-me button:nth-child(2):hover {
    background: none;
    color: var(--primary);
    border-color: var(--primary);
}
