.hire-me {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background-color: var(--primary);
    width: fit-content;
    color: white;
    font-size: 1.2em;
    transition: transform 0.2s ease-in-out, background-image 0.2s ease-in-out;
}

.hire-me:hover {
    background-color: var(--primary-hover);
    transform: scale(1.05);
}

.form-container {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--background-form-container);
}

.form-container.visible {
    display: flex;
}

.form-hire-me {
    width: 100%;
    margin: 0 15%;
    max-width: 500px;
    background-color: var(--background);
    border-radius: 16px;
    padding: 32px;
}

.form-hire-me input,
.form-hire-me textarea {
    width: 100%;
    margin-top: 8px;
}

.form-hire-me textarea {
    resize: vertical;
    max-height: 250px;
    min-height: 150px;
}
