<div class="form-container">
    <form
            name="contact"
            method="POST"
            data-netlify="true"
            class="form-hire-me"
    >
        <p>
            <label>{{ form.inputName }}<input type="text" name="name" /></label>
        </p>
        <p>
            <label>{{ form.inputEmail }}<input type="email" name="email" /></label>
        </p>
        <p>
            <label>{{ form.message }}<textarea name="message"></textarea></label>
        </p>
        <p>
            <button type="submit">{{ form.sendMessage }} 💌</button>
            <button type="reset" onclick="onSetVisibleModal()">{{ form.closeModal }}</button>
        </p>
    </form>

</div>
